body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #E17B40; 
    background-color: #FAF0E6; /* background color */
}

h1{   /* Heading setting */
    margin: 0;
    padding: 10px 0;    /* Used to make sure heading is in the same space as all pages */ 
    text-align: center;
    font-size: 3.3em;
}


.maincontent {
    padding-top: 2%; /* Used to make sure heading is in the same space as all pages */ 
}

/* The pictures setting */

.col {
    padding: 1%;       
}

.col-lg {
    height: 200px;
    overflow: hidden;   /* This make sure everything outside "squared" given are hidden*/
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-basis: 30%;    /* width set up*/
    justify-content: center; 
    align-items: center;
}

.col-lg img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover; /* Ensures image covers the box without distortion */
}

.imgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 0 5%;
}

.refresh-button {
    position:fixed; /* make sure the the refresh button doesn;t move around*/
    top: 90px;
    right: 200px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #8B4513; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

/* adding cool hover effect!*/
.refresh-button:hover {
    background-color: #A0522D; /* lighter brown on hover */
    transform: scale(1.05); /* slightly enlarges the button on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* adding shadow on hover */
}

/* home page button*/
.home-tab {
    text-align: center;
    margin: 20px 0; /* add space above and below the home link */
}
