body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: saddlebrown; /* text color*/
    background-color: #FAF0E6;  /*adding background color*/
    font-size: 1.3em; /* fnot size*/
}

header {
    background-color: saddlebrown;
}

.tab-menu {
    display: flex;
    justify-content: center;  /* word is centered and with margin, its 10 from the top*/
    margin-top: 10px;
}

.tab-menu a {
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
    color: #E17B40; /* Tab menu color */
    border-bottom: 2px solid transparent;  /* this will make sure that the line at the bottom of header will not move */
    padding: 5px;
}

/* when you hover over the option, this color will appear*/
.tab-menu a:hover {
    border-bottom: 2px solid #C45B1F;
}

/* This is for the cat featured thing */

/* Title styling for "ramdom Featured Cat" */

.cat-title {
    color: #E17B40; 
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}
/* to make sure that a cat picture is not too large and making the page estetic weird, I need to created a max and min for image given */
.cat-image {
    max-width: 900px; 
    max-height: 600px ;
    border-radius: 8px; /* this just make sure that the border is round so it looks nice on the eyes*/
}

/* Style for the side SVG cat image */
.side-cat-right {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 180px; 
    color: #8B4513; 
    transition: transform 0.3s, opacity 0.3s;
}

.side-cat-left {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 180px; 
    color: #8B4513; 
    transition: transform 0.3s, opacity 0.3s;
}


.cat-paw-right {
    position: absolute;
    bottom: 30px;
    right: 15px;
    width: 400px; 
    color: #C45B1F; 
    transition: transform 0.3s, opacity 0.3s;
}


.cat-paw-left {
    position: absolute;
    top: 150px;
    left: 60px;
    width: 400px; 
    color: #C45B1F; 
    transition: transform 0.3s, opacity 0.3s;
}

/* NowWW we are going on the refresh button */

.refresh-button {
    margin-top: 15px;
    padding: 10px 20px; /* Add spacing inside the button */
    font-size: 1em;
    color: white;
    background-color: #E17B40;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.refresh-button:hover {
    background-color: #A0522D; /* darker brown when on hover */
}
